<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_quickaccess"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickAccessAndroid"
        tools:targetApi="31">

        <activity android:name=".Activities.ResidentMainMenuActivity" />
        <activity android:name=".Activities.AddAdminActivity" />
        <activity android:name=".Activities.AddSiteManagerActivity" />
        <activity android:name=".Activities.AddResidentActivity" />
        <activity android:name=".Activities.AddSecurityActivity" />
        <activity android:name=".Activities.SecurityActiveNotificationsActivity" />
        <activity android:name=".Activities.ResidentActiveNotificationsActivity" />
        <activity android:name=".Activities.SiteManagerMainMenuActivity" />
        <activity android:name=".Activities.AdminMainMenuActivity" />
        <activity android:name=".Activities.ManageAdminsActivity" />
        <activity android:name=".Activities.ManageSiteManagersActivity" />
        <activity android:name=".Activities.ManageSecuritiesActivity" />
        <activity android:name=".Activities.ManageResidentsActivity" />

        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>